{% extends "base.html" %}

{% block content %}

{% if error %}

	<ul class="errorlist">
		<li>Ekki tókst að lesa nemendaskrá. Villa: {{ error }}</li>
	</ul>

	<a href="/students/upload/">Senda inn nýja skrá</a>

{% else %}

	Áhrif þessarar Innu keyrslu munu verða:
	<ul>
	<li>Nýir nemendur: {{ stats.create }}</li>
	<li>Uppfærðir nemendur: {{ stats.update }}</li>
	<li>Fjarlægðir nemendur: {{ stats.delete }}</li>
	</ul>

	<form method="post">
		<p><input type="submit" name="commit" value="Breyta í gagnagrunni"></p>
	</form>

	<a href="/">Hætta við</a>

{% endif %}

{% endblock %}